@media (min-width: 768px) {
    .container {
        min-width: 730px !important;
    }
}
@media (min-width: 425px) {
    .loginCard {
        min-width: 400px !important;
    }
    .container {
        padding: 30px;
    }
}
@media (max-width: 425px) {
    .container, .loginCard {
        width: 100vw !important;
        padding: 0px !important;
        background-color: transparent !important;
    }
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*https://stackoverflow.com/a/53090598/12172493 */
    flex: 1;
}
